@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
    width: 0px;   
    background: transparent;  
}
  
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF5F1;
  padding: 10px 20px;
  border-bottom: 2px solid #e5e7eb;
}

.back-button {
  background: none;
  border: none;
  color: #a14f2a;
  font-weight: bold;
  cursor: pointer;
}

.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #B84C20;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
}

.nav-links a:hover,
.nav-links a:focus {
  border-bottom: 4px solid #B84C20;
}

.teacher-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.teacher-btn {
  background-color: #5fd4cf;
  border: none;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.bi-arrow-clockwise{
  font-size: 2rem;
  color: #72757e;
  cursor: pointer;
}

.bi-arrow-clockwise:hover{
  color: #515359;
}

.table-body {
  overflow-y: scroll;  
  scrollbar-width: none; 
  -ms-overflow-style: none;  
  scrollbar-width: none;
  background-color: #CCCFDA;
  min-height: 100vh;
}

.table-container {
  background-color: #FFF5F1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  margin-top: 100px;
  max-width: 1200px;
  overflow: hidden;
}

.table-record-container {
  background-color: #FFF5F1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  margin-top: 100px;
  overflow: hidden;
}

.table-title {
  font-weight: bold;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  color: #B84C20;
  background-color: #F5DAD0;
}

.table-content{
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.submission-details{
  background-color: #ffffff;
  color: #9196A1 !important;
}

.submission-details:hover{
  background-color: #ffffff !important;
}

.submission-details .attempt-table{
  margin: 0 auto;
  text-align: center;
  width: 100%;
  background-color: #ffffff;
}

.submission-details .attempt-table th{
  color: #595959 !important;
}

.submission-details .attempt-table td{
  color: #ca6841 !important;
}

.table-content .submission-details .attempt-table .attempt-table-head tr:hover{
  background-color: #ffffff !important;
}

.table-content .submission-details .attempt-table .attempt-table-head tr:hover{
  background-color: #ffffff !important;
}

.table-column-students .submission-details .attempt-table .attempt-table-body tr {
  border-bottom: 1px solid #ffffff;   
}

.table-content th,
.table-content td {
  text-align: center;
  vertical-align: middle;
  padding: 10px 0;
  color:#B84C20;
}

.table-content td {
  font-weight: 600;
}

.table-column-titles{
  color: #413732 !important;
  font-size: 1.1rem;
  font-weight: 700;
}

.table-column-students tr {
  border-bottom: 1px solid #9196A1;   
  transition: background 0.3s ease, border-color 0.3s ease; 
}

.table-column-students tr:hover {
  background-color: #F5DAD0;
  border-left-color: #B84C20;
  border-right-color: #F5DAD0;          
}

.table-column-students tr:last-child {
  border-bottom: none;
}

.table-content th:first-child,
.table-content td:first-child {
  padding-left: 15px;
}

.avatar{
  text-align: left;
  margin-left: 20px;
}

.avatar .avatar-image {
  width: 35px;
  height: 35px;
  background-color: #ccc;
  border-radius: 50%;
  overflow: hidden; 
}

.avatar .student-name{
  margin-left: 10px;
  font-weight: 700;
}

.score-circle {
  width: 50px;
  height: 50px;
  background-color: #fdd9c0;
  border: 5px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #a14f2a;
  margin: auto;
}

.item-block {
  padding: 5px;
}

@media (max-width: 768px) {
  .table-record-container,
  .table-container{
    padding-bottom: 20px;
  }

  .table-content thead {
    display: none; /* Hide table headers */
  }

  .table-content tbody{
    display: flex;
    flex-direction: column;
    padding-inline: 20px;
  }

  .table-content tr {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    border-radius: 5px;
    padding: 10px;
    background-color: #f8f9fa;
    margin-bottom: 20px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.30);
  }

  .table-content tr:not(:last-child) {
    border-bottom: none;
  }

  .table-content td {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: left;
    padding: 8px;
    padding-block: 0px;
    font-weight: bold;
    margin: 0 !important; 
  }

  .table-content td::before {
    content: attr(data-label);
    color: #413732;
    margin-right: 5px;
    margin-left: 0 !important;
  }
  
  .avatar{
    margin-left: 0;
  }

  .avatar .student-name{
    margin-left: 0;
  }

  .avatar-image {
    display: none;
  }

  .table-content .item-student-name{
    padding-top: 0;
    padding-bottom: 20px;
  }

  .table-content .item-border-name {
    border-top: 1px solid #413732;
    border-right: 1px solid #413732;
    border-left: 1px solid #413732;
    border-radius: 10px 10px 0 0;
    padding-block: 0;
    padding-inline: 20px;
    width: 100%;
  }

  .table-content .item-border-score {
    border-bottom: 1px solid #413732;
    border-right: 1px solid #413732;
    border-left: 1px solid #413732;
    border-radius: 0 0 10px 10px;
    padding-block: 0;
    padding-inline: 20px;
    width: 100%;
  }

  .table-content .item-block{
    color: red;
  }

  .table-content .item-avg-score{
    padding-top: 0;
  }

  .table-content .item-total-score{
    padding-block: 0;
    padding-top: 20px;
  }

  .table-content th:first-child, .table-content td:first-child {
    padding-left: 10px;
  }

  .score-circle {
    background-color: transparent;
    border: 5px solid transparent;
    justify-content: flex-start;
    align-items: center;
    color: #B84C20;
  }

  .unenroll-cell button{
    margin-top: 5px;
  }
}

@media (max-width: 425px) {
  .table-header h1{
    font-size: 1.6rem;
  }
  
  .table-content td {
    text-align: left;
    font-size: 0.9rem;
  }

  .unenroll-cell button{
    font-size: 0.9rem;
  }
}

@media (max-width: 375px) {
  .table-content .item-student-name {
    display: block;
  }
}