@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::-webkit-scrollbar {
    width: 0px;   
    background: transparent;  
}
  
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF5F1;
  padding: 10px 20px;
  border-bottom: 2px solid #e5e7eb;
}

.back-button {
  background: none;
  border: none;
  color: #a14f2a;
  font-weight: bold;
  cursor: pointer;
}

.nav-links a {
  margin: 0 10px;
  text-decoration: none;
  color: #B84C20;
  font-weight: bold;
  border-bottom: 2px solid transparent;
  padding-bottom: 5px;
}

.nav-links a:hover,
.nav-links a:focus {
  border-bottom: 4px solid #B84C20;
}

.teacher-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.teacher-btn {
  background-color: #5fd4cf;
  border: none;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
  color: white;
  font-weight: bold;
}

.bi-arrow-clockwise{
  font-size: 2rem;
  color: #9196A1;
  cursor: pointer;
}

.table-body {
  overflow-y: scroll;  
  scrollbar-width: none; 
  -ms-overflow-style: none;  
  scrollbar-width: none;
  background-color: #CCCFDA;
  min-height: 100vh;
}

.table-container {
  background-color: #FFF5F1;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  margin-top: 150px;
  max-width: 1044px;
  overflow: hidden;
}

.table-title {
  font-weight: bold;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  color: #B84C20;
  background-color: #F5DAD0;
}

.table-content{
  margin: 0 auto;
  text-align: center;
  width: 100%;
}

.table-content th,
.table-content td {
  text-align: center;
  vertical-align: middle; /* Centers content vertically */
  padding: 10px 30px;
  color:#B84C20;
}

.table-content td {
  font-weight: 600;
}

.table-column-titles{
  color: #413732 !important;
  font-size: 1.1rem;
  font-weight: 700;
}

.table-column-students tr {
  border-bottom: 1px solid #9196A1;   
  transition: background 0.3s ease, border-color 0.3s ease; 
}

.table-column-students tr:hover {
  background-color: #F5DAD0;
  border-left-color: #B84C20;
  border-right-color: #F5DAD0;          
}

.table-column-students tr:last-child {
  border-bottom: none;
}

.avatar{
  text-align: left;
  margin-right: -100px;
}

.avatar .avatar-image {
  width: 35px;
  height: 35px;
  background-color: #ccc;
  border-radius: 50%;
  overflow: hidden; 
}

.avatar .student-name{
  margin-left: 10px;
  font-weight: 700;
}

.score-circle {
  width: 50px;
  height: 50px;
  background-color: #fdd9c0;
  border: 5px solid #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #a14f2a;
  margin: auto;
}
